body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.perguntas-lado-a-lado {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pergunta {
  flex-basis: calc(50% - 10px);
  padding: 15px;
  margin: 5px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pergunta h3 {
  margin-bottom: 10px;
}

.pergunta p {
  margin-bottom: 5px;
}

.resultado {
  margin-top: 20px;
  text-align: center;
}

.resultado h2 {
  margin-bottom: 10px;
}

.resultado p {
  margin-bottom: 5px;
}

.aprovado {
  color: green;
}

.reprovado {
  color: red;
}

.errado{
  color: red;
}
.certo{
  color: green;
}

.voltar {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.voltar:hover {
  background-color: #3071a9;
}
